name: "Terraform"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - ".github/workflows/terraform.yaml"
      - "terraform/**"

jobs:
  terraform:
    name: "Terraform"
    uses: letsrockthefuture/reusable-workflows/.github/workflows/terraform.yaml@main
    with:
      working_directory: "terraform"
      terraform_version: 1.1.2
    secrets:
      bc_api_key: ${{ secrets.BC_API_KEY }}
      cli_config_credentials_token: ${{ secrets.TERRAFORM_API_TOKEN }}
